nav{
    display:flex;
    margin-right: 50px;
}  

nav {
    width: 70%;
    max-width: 1600px;
    margin: 0px auto;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
